@import "tailwindcss";

/* For Chrome, Edge, and Safari */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* For Internet Explorer and older versions of Edge */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
}
